
<app-encabezado></app-encabezado>

<app-descripcion></app-descripcion>




<form class="form">
<div class="form_container">
  <h2 class="form_title"> Contactame </h2>
  <!-- placeholder es un consejo para completar un espacio vacío -->
  <input type="text" class="form_input" placeholder="Nombre:">
  <input type="email" class="form_input" placeholder="Email:">
  <!-- textarea es para poder completar en más de una línea (multilínea) -->
  <textarea class="form_input form_input--message" placeholder="Mensaje:"></textarea>

  <!-- submit es para enviar los datos
  value se imprime en el botón para apretar -->
  <input type="submit" value="Enviar" class="form_cta">
</div>
</form>









<!-- Bootstrap -->
<section class="padre">
  <p class="columna">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores impedit sit rem eveniet modi</p>
  <p class="columna">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae magni voluptatibus ad repellendus</p>
  <p class="columna">Lorem ipsum dolor sit amet consectetur adipisicing elit.!</p>
</section>



<main class="container">
<div class="row">
<!-- columna izquierda -->
<div class="col-12 col-md-9 bg-primary">
<div class="row">
  <div class="col-12 col-md-8 bg-dark">
      <p>Acá cuento de mi infancia</p>
  </div>
  <div class="col-12 col-md-4 bg-success">
      <p>COLEGIO</p>
  </div>
  <div class="col-12 col-md-4 bg-danger">
      <p>FACULTAD</p>
  </div>
  <div class="col-12 col-md-8 bg-warning">
      <p>TRABAJOS</p>
  </div>
</div>
</div>
<!-- columna derecha -->
<div class="col-12 col-lg-3 bg-secondary">
  <p>Estudiando programación</p>
</div>
</div>
  </main>

<div class="social">
<ul>
<li> <a href="https://www.facebook.com/clara.cano.94/" target="_blank" class="fab fa-facebook"></a> </li>
<li> <a href="https://www.instagram.com/mclara.cano/" class="fab fa-instagram" target="_blank"></a> </li>
<li> <a href="https://www.linkedin.com/in/clara-cano-435418b8/" target="_blank" class="fab fa-linkedin"></a> </li>
<li> <a href="https://api.whatsapp.com/send?phone=+5492234225576" target="_blank" class="fab fa-whatsapp"></a> </li>
</ul>

</div> 
  <!-- el target con "_blank" hace que se abra en nueva pestaña -->

